//
//  Config.xcconfig
//  Keanu
//
//  Created by Benjamin Erhart on 27.09.18.
//  Copyright © 2018 Guardian Project. All rights reserved.
//

// Avoid accidental checkins:
// git update-index --skip-worktree Example/Shared/Config.xcconfig
// git update-index --no-skip-worktree Example/Shared/Config.xcconfig


KEANU_APP_BUNDLE_ID = com.example.keanu
KEANU_EXT_BUNDLE_ID = com.example.keanu.ShareExtension
KEANU_APP_GROUP = group.com.example.keanu

DEVELOPMENT_TEAM =

PROVISIONING_PROFILE_MAIN_DEV =
PROVISIONING_PROFILE_SPECIFIER_MAIN_DEV =
PROVISIONING_PROFILE_MAIN_RELEASE =
PROVISIONING_PROFILE_SPECIFIER_MAIN_RELEASE =

PROVISIONING_PROFILE_SHARE_EXTENSION_DEV =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION_DEV =
PROVISIONING_PROFILE_SHARE_EXTENSION_RELEASE =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION_RELEASE =

KEANU_DEFAULT_HOME_SERVER = neo.keanu.im
KEANU_DEFAULT_ID_SERVER = neo.keanu.im
KEANU_PUSH_SERVER = push.neo.keanu.im
KEANU_UNIVERSAL_LINK_HOST = keanu.im
KEANU_USE_NEW_VERIFICATION_BETA = true

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) KEANU_APP_GROUP="$(KEANU_APP_GROUP)" DEVELOPMENT_TEAM="$(DEVELOPMENT_TEAM)" KEANU_DEFAULT_HOME_SERVER="$(KEANU_DEFAULT_HOME_SERVER)" KEANU_DEFAULT_ID_SERVER="$(KEANU_DEFAULT_ID_SERVER)" KEANU_PUSH_SERVER="$(KEANU_PUSH_SERVER)" KEANU_UNIVERSAL_LINK_HOST="$(KEANU_UNIVERSAL_LINK_HOST)" KEANU_USE_NEW_VERIFICATION_BETA="$(KEANU_USE_NEW_VERIFICATION_BETA)"
